.NameRecipe {
    font-size: 50px;
    padding: 10px 0;
	color: white;
	border: none;
	border-bottom: 1px solid white;
	background-color: transparent;
    outline: none;
    width: 100%;
    margin: 0 0 8px 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.527);
}